/* Fonts */
// Extra small
$font-xs: 12px;
// Small
$font-sm: 14px;
// Medium
$font-md: 16px;
// Large
$font-lg: 20px;
// Extra large
$font-xl: 26px;


/* Colors */
$main-black: #000;
$main-white: #fff;
$main-grey: #D9D9D9;
$main-green: #4AAA4E;